#notfound {
  margin-top: 5%;
}
.notfound-404 {
  img{
     width: 80%;
  }
  .not-found-content {
      margin-top: 10%;
     h2 {
      font-size: 48px;
      font-weight: bolder;
    }
    p a:hover {
      text-decoration: underline;
    }
  }
  .emoji{
    font-size: 27px;
      vertical-align: middle;
  }
}

