<div id="notfound" class="container">
  <div class="row notfound-404">
    <div class="notfound-img col-6">
      <img src="assets/img/page-not-found.svg" alt="Stunlab logo" />
    </div>
    <div class="col-6 not-found-content">
      <h2>Oops! 404 <span class="emoji">😶️😶️ </span></h2>
      <p>
        The page you are looking for might have been removed, had its name
        changed or is temporarily unavailable. ✊️ <br>
        <a [routerLink]="['/', 'dashboard']" class="text-danger">Return to Dashboard</a>

      </p>
    </div>
  </div>
</div>