<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-7 form-enclosed">
        <div *ngIf="loginErrorOccurred" class="alert alert-rose alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span>Login Failed </span>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Sign in to Stunlab Account</h4>
            <p class="card-category">Type your credentials</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="login()" autocomplete="off" [formGroup]="formGroup">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" type="text" autocomplete="off" formControlName="username"
                      required />
                    <mat-error *ngIf="formGroup.get('username').invalid">Username too short</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" maxlength="20"
                      autocomplete="off" formControlName="password" required />
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-error *ngIf="formGroup.get('password').invalid">required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9">
                  <button mat-raised-button type="submit" id="signup-button" class="btn btn-danger pull-right"
                    [disabled]="isLoading || formGroup.invalid">
                    <img *ngIf="isLoading" alt="Loading" style="width: 24px; margin-top: -4px;"
                      src="assets/img/spinner.gif" />
                    {{ btn_text }}
                  </button>
                  <div class="clearfix"></div>
                </div>
                <div class="com-md-3">
                  <a [routerLink]="['/', 'signup']" class="login-link">Dont have an account ?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>