.form-enclosed {
  margin-left: 21%;
  margin-top: 6%;
}
.card-header {
  padding: 21px !important;
}
.alert-dismissible .close {
  top: -2px !important;
}
.alert-dismissible .close:hover {
  color: white;
}

.login-link {
  vertical-align: sub;
  line-height: 52px;
  font-size: 13px;
  color: #9c27b0;
}
.login-link:hover {
  text-decoration: underline;
}
