.file_upload {
  margin-bottom: 18px;
}
.about-label {
  text-transform: uppercase;
}
.cover-viewer {
  margin-top: 13px;
  padding: 12px 0;
  background: #f4f4f4;
}

.book-cover {
  font-size: 15px;
  color: #000000;
  opacity: 1;
  font-family: unset;
  font-weight: bolder;
}

.book-pages {
  color: black;
  position: absolute;
  right: 4px;
  top: 0;
}
