.delete-btn {
  background: none;
  border: none;
  outline: none;
  color: #f19999;
  vertical-align: middle;
}
.delete-btn:hover {
  color: red;
}
.icon-update,
.icon_delete {
  vertical-align: middle;
}
table {
  width: 100%;
}
.edit-button {
  color: #dddddd;
  vertical-align: middle;
}

.edit-button:hover {
  color: #555454;
}

.fa-book:before {
  font-size: 19px;
}
.icon_read {
  vertical-align: middle;
  padding-right: 8px;
  cursor: pointer;
  color: rgb(111, 111, 111)
}
.icon_read:hover {
  color: rgb(39, 39, 39);
}
.blue-snackbar {
  background-color: #fff !important;
}

  
.card-body>.row{
    .progress-spinner{
      margin: 5% 42%;
    }
  }