.container {
  margin-top: 5%;
  margin-left: 7%;
  padding: 3% 0;
}

p-chart {
  background-color: white;
  display: block;
  margin: 20px 19px;
  padding: 6px 0px;
}

.row {
  margin-left: -37px;
  width: 114%;
}
.row div{
  margin: 8px 6px;
  background-color:whitesmoke;
}
.chartjs-render-monitor{
  height: 202px !important;
}
.stats-loading{
  margin: 20% 38%;
}