<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <p-chart type="bar" [data]="data"></p-chart>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12">
      <p-chart type="line" [data]="data2"></p-chart>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12">
      <p-chart type="doughnut" [data]="data1"></p-chart>
    </div>

    <div class="col-lg-5 col-md-12 col-sm-12">
      <p-chart type="polarArea" [data]="data3"></p-chart>
    </div>
  </div>
</div>
